.now-ui-icons.ui-1_zoom-bold{padding-left: 5px;}
.input-group-append .input-group-text{ }
div.suggestions{
  padding:15px;background: #FFF;
  border-radius: 10px;
  color: #000;
  position: absolute;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 5px;
  margin-top: 100px;
}
.container{padding: 10px;}
